@import url(./style.css);

:root{
    --primaryColor: #8e0000;
    --color00: #ffffff;
    --color01: #c7c7c7;
    --color02: #474747;
    --color03: #121212;

    --primaryFont: 'Iceland', cursive;
    --secundaryFont: 'Actor', sans-serif;
    --tertiaryFont: 'Darker Grotesque', sans-serif;
    --commentFont: 'Abhaya Libre', serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #000000;
    color: var(--color00);
}
a{
    color: var(--color00);
}
.font1-XL{
    font-size: 5.75rem;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    font-weight: 400;
}
.font1-L{
    font-size: 5rem;
    font-family: var(--primaryFont);
}
.font1-M{
    font-size: 1.5rem;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    font-weight: 400;
}
.font1-S{
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    font-weight: 400;
}
.font2-M{
    font-size: 1.5rem;
    font-family: var(--secundaryFont);
    color: var(--color01);
}
.font2-S{
    font-size: 1.25rem;
    font-family: var(--secundaryFont);
}
.font3-S{
    font-size: 1.25rem;
    font-family: var(--tertiaryFont);
}
.font3-XS{
    font-size: 1rem;
    font-family: var(--tertiaryFont);
}
.comment{
    font-size: 1.5rem;
    font-family: var(--commentFont);
}

@media (max-width: 780px){
    .font1-XL{
        font-size: 5.5rem;
    }
    .font2-M{
        font-size: 1.25rem;
    }
}